$base-color: rgb(229, 230, 231);
$input-focus-color: #d90035;
$message-button-color: #754d24;
$message-button-hover-color: #44280c;
$message-button-active-color: #a77039;

.contact {
    background-image: url('../images/01.jpg');
    color: white;
}

.contact .content-text {
    @include center-content;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
}

.contact .content {
    width: 75%;
}

.contact-form {
    background-color: white;
    margin: 25px;
    color: $base-color;
    padding: 2em;

    form {
        display: flex;
        flex-direction: column;
    }

    input,
    textarea {
        width: inherit;
        font-size: 1em;
        text-align: left;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: 2px $base-color solid;

        &:focus {
            outline: none;
            border-color: $input-focus-color;
        }
    }

    textarea {
        resize: none;
    }

    .send-message {
        background-color: $message-button-color;
        color: white;
        width: 200px;
        border-radius: 25px;
        height: 50px;
        text-align: center;
        border: none;
        align-self: center;

        &:hover {
            background-color: $message-button-hover-color;
        }

        &:active {
            background-color: $message-button-active-color;
        }
    }
}