#description-0 {
    background-color: white;

    .content-image {
        background-image: url('../images/description/0.jpg');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: inherit;
        margin: 80px;
        margin-right: 0;
    }

    .content-text {
        @include center-content;
        margin: 20px;
    }
}

.description-text {
    padding: 10px 40px;
}

#description-1 .content-text {
    @include center-content;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
}

#description-1 {
    background-image: url('../images/01.jpg');
}

#description-2 {
    background-color: #6b001b;
    color: white;
}

.outer-container {
    display: flex;
    flex-direction: row;
}

.column {
    flex: 1;

    li {
        text-align: left;
    }
}

@media screen and (max-width: 850px) {
    #description-0 .content-image {
        background-image: none;
        width: 0;
        margin: 0;
    }
}
