.header {
    display: flex;
    padding: 10px;
}

.header-title {
    flex: 1;
    margin: auto;
}

.header-link {
    margin: auto;
    padding: 0 10px;
}

@media screen and (max-width: 700px) {
    .header-link {
        display: none;
    }

    .header-title {
        text-align: center;
    }
}